# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual envs
venv/
.venv/
env/
.env/

# Env files
.env
!.env.example

# DB
*.db
*.sqlite3

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/